# Node & Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Python & Django
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
env/
db.sqlite3
*.log
backend/.env

# OS & IDE
.DS_Store
.vscode/
.idea/
